#input{
    margin-top:3%;
    width: 50%;
    margin-left: 20%;
}
#ouputButton{
    margin-left: 20%;
}
#output{
    width: 50%;
    margin-left: 20%;
}
#outputButton{
    width: 50%;
    padding-left: 102%;
}